# Ignore FRED API key and other secrets
.env

# Python cache and junk
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# VS Code settings (optional)
.vscode/

# Jupyter and Streamlit
.ipynb_checkpoints/
.streamlit/

# Virtual environments (if any)
venv/
.env/
